/* CSS */

html, body {
  width: 100%;
  height: 100%;
  height: 900px;
}

#page-container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}


.row {
  width: 100%;
  height: 300px;
}
.col-3,
.col-4, 
.col-6,
.col-12 {
  height: 100%;
}

.col-4 {
  width: 33.333333%;
}

.col-3 {
  width: 25%;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}



/**********
.project
***********/

.project {
  border: 2px solid black;
  background-size: cover; 
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top; 
  background-origin: content-box;

}


ul#projects li {
  display: inline-block;
}

ul#projects {
  padding: 0;
}

.fade {
  opacity: 0.3;
}

#projects {
  text-align: left;
}

.project:hover {
  opacity: 50%;
}


/************
INFO
************/

.info {
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: snow;
  margin-top: 30%;
  padding-top: 15px;
}

/*********
#info Box
*********/

#info-box {
  width: 100%;
  height: 100%;
  background-color: snow;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
}

#info-box img {
  width: 100%;
  max-width: 400px;
  height: 35%;
  max-height: 400px;
}

#info-box > div {
  margin-top: 15px;
}

#info-box .info-skills {
  background: lightgrey;
  padding: 5px;
  border-radius: 10%;
}
.info-skills-section {
  margin-top: 10px;
}

#close-info-box {
  border-radius: 50%;
  border: 1px solid lightgrey;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: -6px;
  text-align: center; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 5px;
  font-size:  2em;
  font-weight: lighter;
}

#close-info-box:hover {
  background-color: darkgrey;
  cursor: pointer;
}


/*************
media queries
***********/

@media all and (max-width: 485px) { 
  .col-4,
  .col-3 {
    width: 100%;
  }
}

@media all and (max-width: 740px) and (min-width: 486px) { 
  .col-4,
  .col-3 {
    width: 50%;
  }
}


