/* CSS */

#josh-lee h1 {
  width: 100%;
  height: 300px;
  font-size: 200px;
  border: 2px solid white;
  font-weight: 100;
}

#josh-lee {
  margin-top: -150px;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: url("img/bkg.png");
}

#page-container {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}


.row {
  width: 100%;
  height: 300px;
  margin-top: 0;
}
.col-3,
.col-4, 
.col-6,
.col-12 {
  height: 100%;
}

.col-4 {
  width: 33.333333%;
}

.col-3 {
  width: 25%;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}


/********
#main
********/

#main {
  width: 100%;
  height: 200px;
}

.badge {
  width: 50%;
  height: 100px;
  background-color: red;
    margin: 0 auto;

}



/**********
.project
***********/

h2#projects-header {
  font-size: 48px;
  text-align: center;
}

.project {
  border: 2px solid black;
  background-size: cover; 
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top; 
  background-origin: content-box;

}


ul#projects li {
  display: inline-block;
}

ul#projects {
  padding: 0;
}


#projects {
  text-align: left;
}

.project:hover {
  opacity: 50%;
}

.sepia-filter {
    filter: none ;
    -webkit-filter: none;
    transition: 2s; 
}

.no-filter {
  -webkit-filter: saturate(7);
  filter: saturate(7);
  transition: 2s;
}
/************
INFO
************/

.info {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.title {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: snow;
  margin-top: 30%;
  padding-top: 15px;
  border: 1px solid snow;
  -webkit-boxsizing: border-box;
  -moz-boxsizing: border-box;

}

/*********
#info Box
*********/

#info-box {
  width: 100%;
  height: 100%;
  background-color: snow;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
}

#info-box img {
  width: 100%;
  max-width: 400px;
  height: 40%;
  max-height: 400px;
}

#info-box > div {
  margin-top: 15px;
}

#info-box a {
  color: black;
}

#info-box .info-skills {
  background: lightgrey;
  padding: 5px;
  border-radius: 10%;
  margin: 5px;
}
.info-skills-section {
  margin-top: 25px;
}

#close-info-box {
  border-radius: 50%;
  border: 1px solid lightgrey;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: -6px;
  text-align: center; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 5px;
  font-size:  2em;
  font-weight: lighter;
}

#close-info-box:hover {
  background-color: darkgrey;
  cursor: pointer;
}


/***********
.github-button
from here -> https://github.com/necolas/css3-github-buttons
***********/
.github-button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.github-button:hover,
.github-button:focus,
.github-button:active,
.github-button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}



/*************
media queries
***********/

@media all and (max-width: 485px) { 
  .col-4,
  .col-3 {
    width: 100%;
  }
}

@media all and (max-width: 740px) and (min-width: 486px) { 
  .col-4,
  .col-3 {
    width: 50%;
  }
}


