/* CSS */

html, body {
  width: 100%;
  height: 100%;
}

#page-container {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  min-width: 500px;
  text-align: center;
}


.row {
  width: 100%;
  height: 230px;
}
.col-3,
.col-4, 
.col-6,
.col-12 {
  height: 100%;
}

.col-4 {
  width: 33.333333%;
}

.col-3 {
  width: 25%;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}



/**********
.project
***********/

.project {
  border: 2px solid black;
  background-size: cover; 
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  vertical-align: top; 
}


ul#projects li {
  display: inline-block;
}

ul#projects {
  padding: 0;
}

.fade {
  opacity: 0.3;
}

#projects {
  text-align: left;
}

.project:hover {
  opacity: 50%;
}


/************
INFO
************/

.info {
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: snow;
  margin-top: 30%;
  margin-bottom: 0;

}